
@mixin make-overlay($color: false, $opacity: false, $blur: false) {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: if($color and $opacity, rgba($color, $opacity), null);
  backdrop-filter: if($blur, blur(#{$blur}), null);
  z-index: 2;
  cursor: pointer;
}

@mixin make-overlay-show() {

}

@mixin make-overlay-opacity($color: false, $opacity: false, $blur: false) {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: if($color and $opacity, rgba($color, $opacity), null);
  backdrop-filter: if($blur, blur(#{$blur}), null);
  z-index: 2;
  cursor: pointer;
  transition: opacity 250ms ease-in;
}

@mixin make-overlay-opacity-show() {
  visibility: inherit;
  opacity: 1;
}

@mixin make-modal-content($width: false) {
  background: var(--bg-theme-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width: if($width, $width, null);
  cursor: default;

  .theme-dark & {
    background: var(--bg-theme-color);
  }
}

@mixin make-btn-close($width: false) {
  position: absolute;
  right: if($width, $width, 32px);
  top: if($width, $width, 32px);
  width: if($width, $width, 32px);
  height: if($width, $width, 32px);
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
  &:before, &:after {
    position: absolute;
    top: 0;
    left: if($width, calc(#{$width} / 2 - 1px), 15px);
    content: '';
    height: if($width, calc(#{$width} + 1px), 33px);
    width: 2px;
    background-color: var(--text-theme-color);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
