@charset "utf-8";
@use "sass:string";
@use "sass:meta";
@use "sass:list";
@use '../../helpers/breakpoints/breakpoints' as mq;

$grid-gutter-width:           1.5rem !default;

$white: white;
$primary: lightblue;
$secondary: gray;
$success: green;
$info: cyan;
$danger: red;
$light: #D3D3D3;
$dark: #333;


//  Btn
@mixin btn($background: false) {
  @if $background == 'primary' {
    @include btn--primary;
  } @else if $background == 'secondary' {
    @include btn--secondary;
  } @else if $background == 'success' {
    @include btn--success;
  } @else if $background == 'info' {
    @include btn--info;
  } @else if $background == 'danger' {
    @include btn--danger;
  } @else if $background == 'light' {
    @include btn--light;
  } @else if $background == 'dark' {
    @include btn--dark;
  } @else {
    @error 'ERROR btn() has not value! => (primary, secondary, success, info, danger, light, dark)';
  }
}

//  Primary
@mixin btn--primary() {
  background-color: $primary;
  border-color: $primary;
  color: $white;

  &:hover, &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-color: mix(white, $primary, 20%);
  }
}

//  Secondary
@mixin btn--secondary() {
  background-color: $secondary;
  border-color: $secondary;
  color: $white;

  &:hover, &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-color: mix(white, $secondary, 20%);
  }
}

//  Success
@mixin btn--success() {
  background-color: $success;
  border-color: $success;
  color: $white;

  &:hover, &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-color: mix(white, $success, 20%);
  }
}

//  Info
@mixin btn--info() {
  background-color: $info;
  border-color: $info;
  color: $white;

  &:hover, &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-color: mix(white, $info, 20%);
  }
}

//  Danger
@mixin btn--danger() {
  background-color: $danger;
  border-color: $danger;
  color: $white;

  &:hover, &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-color: mix(white, $danger, 20%);
  }
}

//  Light
@mixin btn--light() {
  background-color: $light;
  border-color: $light;
  color: $dark;

  &:hover, &:visited {
    color: $dark;
    text-decoration: none;
  }
  &:hover {
    background-color: mix($dark, $light, 20%);
  }
}

//  Dark
@mixin btn--dark() {
  background-color: $dark;
  border-color: $dark;
  color: $light;

  &:hover, &:visited {
    color: $light;
    text-decoration: none;
  }
  &:hover {
    background-color: mix($dark, $light, 80%);
  }
}

//Standard
@mixin make-btn-ready($width: false, $height: false, $border: false, $gutter: $grid-gutter-width) {
  width: if($width, $width, fit-content);
  width: if($width, null, -moz-fit-content);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  appearance: auto;
  border: if($border, $border !important, null);
  border-width: if($border, null, 0);
  cursor: pointer;

  height: if($height, calc(1.5 * #{$height}), calc(1.5 * #{$gutter}));
  @include mq.media-min(md) {
    height: if($height, calc(1.667 * #{$height}), calc(1.667 * #{$gutter}));
  }
  @include mq.media-min(lg) {
    height: if($height, calc(2 * #{$height}), calc(2 * #{$gutter}));
  }

  &:disabled {
    cursor: none;
  }
}

$valid: primary, secondary, success, info, danger, light, dark;

@mixin make-btn(
  $width: false,
  $height: false,
  $padding: false,
  $radius: false,
  $border: false,
  $background: false,
  $color: false
) {
  /*default*/
  @include make-btn-ready($width, $height, $border);
  border-radius: if($radius, $radius, null);
  padding: if($padding, 0, null) if($padding, $padding, 1rem);
  border: if($background == false and $color == false and $border == false
          or $background == false and $color != false and $border == false,
          1px solid red, null
            );
  //
  //
  @if (not list.index($valid, $background) and $color) {
    color: $color;
    background-color: if($background, $background, null);

    &:hover, &:visited, &:active {
      color: if($color, $color, null);
      text-decoration: none;
    }
    &:hover {
      background-color: if($background, mix(white, $background, 20%), null);
    }
    //
    //
  } @else if(list.index($valid, $background) and not $color) {
    box-shadow: 0 3px 5px 1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    @include btn($background);
    //
    //
  } @else if ($background and not $color) {
    @error 'ERROR:btn.color, have to enter variable "$color: ....,"!!!'
    //
    //
  } @else if($color and list.index($valid, $background)) {
    @error 'ERROR:btn.default-variant, must delete variable "$color: ...., or change defalt variant to set own background-color"!!!'
    //
    //
  }
}
